@model List<OkyanusWebUI.Models.ProductTypeVM.ResultProductTypeVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 0;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Ürün Tipi Sayfası</h1>
<p class="mb-4">
    Ürün Tipi ile ilgili işlemlerinizi Ürün Tipi tablosundan yönetebilirsiniz
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Tipi </th>
                        <th>Minimum Miktar</th>
                        <th>Detaylar</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Birim</td>
                            <td>@item.IncreaseAmount</td>
                            <td><a href="/Admin/ProductType/UpdateProductType/@item.ID" class="btn btn-warning">Detaylar</a></td>
                            <td><a href="/Admin/ProductType/DeleteProductType/@item.ID" class="btn btn-danger" onclick="return confirm('Dikkat Ürün tipini sildiğinizde ürün tipine ait bütün ürünlerde silinir!');">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/ProductType/AddProductType/" class="btn btn-primary">Yeni Ürün Tipi Ekle</a>
        </div>
    </div>
</div>

