@model OkyanusWebUI.Models.ProductTypeVM.UpdateProductTypeVM
@{
    ViewData["Title"] = "UpdateProductType";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">

        <label>Ürün Birimi</label>
        <input type="text" asp-for="Birim" class="form-control" />
        <span class="text-danger" asp-validation-for="Birim"></span>
        <br />

        <label>Minimum miktar ve artış miktarı</label>
        <input type="number" step="0.1" asp-for="IncreaseAmount" class="form-control" />
        <span class="text-danger" asp-validation-for="IncreaseAmount"></span>
        <br />

        <button class="btn btn-primary">Ürün Tipi Güncelle</button>
    </form>
</div>

