@model OkyanusWebUI.Models.TermsAndConditionVM.UpdateTermsAndConditionVM
@{
    ViewData["Title"] = "UpdateTermsAndCondition";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="ID" class="form-control" />

        <label>Şart ve Koşul Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
        <br />

        <label>Şart ve Koşul İçeriği</label>
        @*<input type="text" asp-for="Content" class="form-control" />*@
        <textarea asp-for="Content" id="ckeditor" rows="10" cols="80"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
        <br />

      

        <button class="btn btn-primary">Şartlar ve Koşul Güncelle</button>
    </form>
</div>

