@model List<ResultContactVM>

@if (Model != null && Model.Count > 0)
{
    <div class=" address">
        <div class="col-md-4 fo-grid1">
            <p><i class="fa fa-home" aria-hidden="true"></i>@Model[0]?.Adres</p>
        </div>
        <div class="col-md-4 fo-grid1">
            <p><i class="fa fa-phone" aria-hidden="true"></i>@Model[0]?.Phone</p>
        </div>
        <div class="col-md-4 fo-grid1">
            <p><a href="mailto:@Model[0]?.Mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>@Model[0]?.Mail</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
}
