
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-w3 ">


    <!--about-->
    <div class="container">
        <div class="about">
            <div class="spec ">
                <h3>Hakkımızda</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>

            <div class="col-md-4 about-right">
                <img class="img-responsive" src="~/web/images/ab.jpg" alt="">
            </div>
            <div class="col-md-4 about-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem.  </p>
            </div>
            <div class="col-md-4 about-right">
                <img class="img-responsive" src="~/web/images/ab1.jpg" alt="">
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//about-->
    <!--work-experience-->

    <!--//work-experience-->
    <!--advantages-->
    <div class="container">
        <div class="advantages">
            <div class="col-md-6 advantages-left ">
                <h3>Avantajlarımız</h3>
                <div class="advn-one">
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>1</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="single.html">Elacus a porta varius dui</a></h4>
                            <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>2</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="single.html">Elacus a porta varius dui</a></h4>
                            <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ad-mian">
                        <div class="ad-left">
                            <p>3</p>
                        </div>
                        <div class="ad-right">
                            <h4><a href="single.html">Elacus a porta varius dui</a></h4>
                            <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 advantages-left about-agi">
                <h3>Becerilerimiz</h3>
                <div class="advn-two">
                    <h4><a href="single.html"> eu tincidunt lacinia, elit quam ultri ces ipsum, quis ultricies ipsum ante</a></h4>
                    <p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
                    <ul>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Praesent vestibulum molestie lacus</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec sagittis interdum tellus</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Nulla consectetur adipiscing</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec ac rhoncus libero.</a></li>
                        <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Erci eu tincidunt lacinia</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--advantages-->

</div>

