@model List<ResultAboutVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Count > 0)
{
    <div class="about-w3 ">
        <!--about-->
        <div class="container">
            <div class="about">
                <div class="spec ">
                    <h3>Hakkımızda</h3>
                    <div class="ser-t">
                        <b></b>
                        <span><i></i></span>
                        <b class="line"></b>
                    </div>
                </div>

                <div class="col-md-12 about-left">
                    <p>@Model[0]?.AboutDesc</p>
                </div>
               

            </div>
        </div>
        <!--//about-->
        <!--advantages-->
        <div class="container">
            <div class="advantages">
                <div class="col-md-6 advantages-left ">
                    <h3>Misyonumuz</h3>
                    <div class="advn-two">
                        <p>@Model[0]?.Misyon</p>
                    </div>
                </div>
                <div class="col-md-6 advantages-left about-agi">
                    <h3>Vizyonumuz</h3>
                    <div class="advn-two">
                        <p>@Model[0]?.Vizyon</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--advantages-->
    </div>
}else
{
    <h5>Hakkımızda Kısmı Hazırlanıyor</h5>
}
