<footer class="sticky-footer bg-white no-print">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&copy; Okyanus Market Admin @DateTime.Now.Year</span>
        </div>
    </div>
</footer>
