<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-text mx-3">Admin Sayfası</div>
        </a>
    </li>
    <!-- Divider -->
    <li><hr class="sidebar-divider my-0"></li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Product/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>Ürünler</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/About/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>Hakkımızda</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Contact/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>İletişim</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/ContactMessage/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>Mesajlar</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/BranchUs/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>Şubelerimiz</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Home/Index/">
            @*<span>Productasfasfasfasfasfasfafasfa</span>*@
            <p>Siteyi Gör</p>
        </a>
    </li>
    <!-- Divider -->
    <li><hr class="sidebar-divider d-none d-md-block"></li>
    <!-- Sidebar Toggler (Sidebar) -->
    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>
</ul>
