@model CreateBranchUsVM
@{
    ViewData["Title"] = "AddBranchUs";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">

        <label>Şube Adresi</label>
        <input type="text" asp-for="BranchAdres" class="form-control" />
        <span class="text-danger" asp-validation-for="BranchAdres"></span>
        <br />

        <button class="btn btn-primary">Şubeyi Ekle</button>
    </form>
</div>

