@model UpdateBranchUsVM
@{
    ViewData["Title"] = "UpdateBranchUs";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="ID" />

        <label>Şube Adresi</label>
        <input type="text" asp-for="BranchAdres" class="form-control" />
        <span class="text-danger" asp-validation-for="BranchAdres"></span>
        <br />

        <button class="btn btn-primary">Şubeyi Güncelle</button>
    </form>
</div>



