@model OkyanusWebUI.Models.DeliveryTimeVM.UpdateDeliveryTimeVM

@{
    ViewData["Title"] = "UpdateDeliveryTime";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="ID" />

        <label>Teslimat Saati Adı (örneğin: Sabah)</label>
        <input type="text" asp-for="DeliveryTimeName" class="form-control" />
        <span class="text-danger" asp-validation-for="DeliveryTimeName"></span>
        <br />

        <label>Başlangıç Tarih ve Saati</label>
        <input type="datetime-local" asp-for="StartedTime" class="form-control" />
        <span class="text-danger" asp-validation-for="StartedTime"></span>
        <br />

        <label>Bitiş Tarih ve Saati</label>
        <input type="datetime-local" asp-for="EndTime" class="form-control" />
        <span class="text-danger" asp-validation-for="EndTime"></span>
        <br />

        <button class="btn btn-primary">Teslimat Zamanı Güncelle</button>
    </form>
</div>

