 <!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h3>Hakkımızda</h3>
            <p>
                Adl Okyanus olarak geniş ürün seçenekleri, uygun fiyatlar, memnuniyet garantisi, keyifli alışveriş için buradayız
            </p>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Menuler</h3>
            <ul>
                <li><a href="/Home/Index/">AnaSayfa</a></li>
                <li><a href="/About/Index/">Hakkımızda</a></li>
                <li><a href="/Product/Index/">Ürünlerimiz</a></li>
                <li><a href="/Contact/Index/">İletişim</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Müşteri Hizmetleri</h3>
            <ul>
                <li><a target="_blank" href="#">Şartlar ve Koşullar</a></li>
                <li><a target="_blank" href="#">Gizlilik</a></li>
                <li><a target="_blank" href="/sss">SSS</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h3>Hesabım</h3>
            <ul>
                <li><a href="/Login/Index/">Giriş Yap</a></li>
                <li><a href="/Register/Index/">Kayıt Ol</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="footer-bottom">
            @await Component.InvokeAsync("_FooterSocialMediaPartial") 
            @await Component.InvokeAsync("_FooterContactPartial") 
        </div>
        <div class="copy-right">
            <p> &copy; @DateTime.Now.Year Okyanus Market | Geliştirici <a href="https://www.linkedin.com/in/serkan-can-kaya-064a33244/">Serkan Can</a></p>
        </div>
    </div>
</div>
<!-- //footer-->