
<div class="header">
    <div class="container">

        <div class="logo">
            <h1><a href="#">Okyanus Market<span>Kaliteli Ürünler, Sınırsız Seçenekler Alışverişin Adresi!</span></a></h1>
        </div>
        <div class="head-t">
            <ul class="card">
                @*<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>İstek Listesi</a></li>*@
                <li><a href="/Login/Index/"><i class="fa fa-user" aria-hidden="true"></i>Giriş</a></li>
                <li><a href="/Register/Index/"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kayıt Ol</a></li>
                @*<li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Siparişler</a></li>*@
                @*<li><a href="#"><i class="fa fa-ship" aria-hidden="true"></i>Sorular</a></li>*@
            </ul>
        </div>


        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li class=""><a href="/Home/Index/" class="hyper "><span>Ana Sayfa</span></a></li>
                        <li><a href="/About/Index/" class="hyper "><span>Hakkımızda</span></a></li>
                        <li><a href="/Product/Index/" class="hyper"> <span>Ürünler</span></a></li>
                        <li><a href="/Contact/Index/" class="hyper"><span>İletişim</span></a></li>
                    </ul>
                </div>
            </nav>

            <div class="cart" data-toggle="modal" data-target="#my-basket-modal">
                <span class="fa fa-shopping-cart my-cart-icon"><span id="totalBasketItem" class="badge badge-notify my-cart-badge"></span></span>
            </div>

            <div class="modal fade" id="my-basket-modal" tabindex="-1" role="dialog" aria-labelledby="myBasketModalLabel">
                <div class="modal-dialog" role="document" id="basketModalContentHtml">

                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>
<br />

<script>
    'use strict';

    $(document).ready(function () {
        getBasketItems();
    });

    function getBasketItems() {
        $.ajax({
            url: '/Basket/GetBasketItems/',
            type: 'GET',
            success: function (data) {
                //console.log(data);
                let basketItems = data.items;
                let totalPrice = data.totalPrice;
                let totalItems = data.totalItems;
                $('#totalBasketItem').text(totalItems);
                let basketModalContentHtml = '';
                basketModalContentHtml += '<div class="modal-content">';
                basketModalContentHtml += '<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span> Sepetim</h4></div>';

                if (basketItems != null && basketItems.length > 0) {
                    basketModalContentHtml += '<table class="table table-hover table-responsive" id="my-cart-table"><thead><tr><th>Resim</th><th>Ürün Adı</th><th>Fiyat</th><th>Miktar</th><th>Birim</th><th>Toplam</th><th>Ürünü Kaldır</th></tr></thead><tbody>';
                    basketItems.forEach(function (item) {
                        basketModalContentHtml += `
                <tr>
                    <td class="text-center" style="width: 50px;"><img width="50px" height="50px" src="${item.imageUrl ? item.imageUrl : "/web/images/resimhazirlaniyor.png"}" /></td>
                    <td>${item.name}</td>
                    <td>₺${item.price}</td>
                    <td><input type="number" min="${item.birim === 'Kg' ? 0.1 : 1}" step="${item.birim === 'Kg' ? 0.1 : 1}" style="width: 70px;" class="my-product-quantity" value="${item.quantity}" onchange="updateBasketItemQuantity(${item.productId}, '${item.birim}', this.value)" /></td>
                    <td>${item.birim}</td>
                    <td class="my-product-total">₺${item.totalPrice}</td>
                    <td class="text-center" style="width: 30px;"><a href="javascript:void(0);" class="btn btn-xs btn-danger my-product-remove" onclick="deleteBasketItem(${item.productId})">X</a></td>
                </tr>`;
                    });

                    basketModalContentHtml += `<tr><td class="text-center" style="width: 50px;"></td><td></td><td></td><td>Toplam Fiyat:</td><td>${totalPrice}</td><td></td></tr>`;

                    basketModalContentHtml += '</tbody></table>';
                } else {
                    basketModalContentHtml += '<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>Sepetinizde ürün bulunmamaktadır.</div>';
                }

                basketModalContentHtml += '<div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button><button type="button" class="btn btn-success" style="background-color:#029241;">Ödeme Yap</button></div>';
                basketModalContentHtml += '</div>';

                // Append the generated HTML content to the modal
                $('#basketModalContentHtml').html(basketModalContentHtml);
            },
            error: function (err) {
                console.error("Hata oluştu!", err);
            }
        });
    }

    function addBasket(id) {
        $.ajax({
            url: '/Basket/AddBasketItem/'+id,
            type: 'POST',
            success: function (data) {
                //console.log(data);
                getBasketItems();
                toastNotifySuccess("sepete ürün eklendi!", 3000);
            },
            error: function (err) {
                //console.error("hata oluştu!", err);
            }
        });
    }

    function updateBasketItemQuantity(id, birim, quantity) {
        $.ajax({
            url: '/Basket/UpdateBasketItemQuantity/',
            type: 'POST',
            data: { id: id, quantity: quantity, birim: birim },
            success: function (data) {
                //console.log(data);
                getBasketItems();
            },
            error: function (err) {
                //console.error("hata oluştu!", err);
            }
        });
    }

    function deleteBasketItem(id) {
        $.ajax({
            url: '/Basket/deleteBasketItem/'+id,
            type: 'DELETE',
            success: function (data) {
                //console.log("Ürün başarıyla silindi.");
                getBasketItems();
            },
            error: function (err) {
                //console.error("Ürün silinirken bir hata oluştu:", err);
            }
        });
    }

</script>

