@inject OkyanusWebUI.Service.TokenService tokenService
@{
    bool isAuthenticate = tokenService.IsAuthonticate();
    bool isAuthenticateAdmin = tokenService.IsAuthonticateAdmin();
}

<div class="header">
    <div class="container">
        <div style="display:flex;flex:1;justify-content:space-between;margin-bottom:5px">
            <a href="/" class="logo">
                <img src="~/web/images/logo.jpg" width="200" height="80" />
            </a>
            <div class="head-t">
                <ul class="card">
                    @if (isAuthenticate)
                    {
                        @if (isAuthenticateAdmin)
                        {
                            <li><a href="/Admin/Product/Index/"><i class="fa fa-user" aria-hidden="true"></i>Admin Paneli</a></li>
                        }
                        else
                        {
                            <li><a href="/User/FavoriUrunler/Index/"><i class="fa fa-heart" aria-hidden="true"></i>Favoriler</a></li>
                            <li><a href="/User/UserOrder/Index/"><i class="fa fa-first-order" aria-hidden="true"></i>Siparişlerim</a></li>
                            <li><a href="/User/UserAdres/Index/"><i class="fa fa-address-book" aria-hidden="true"></i>Adreslerim</a></li>
                            <li><a href="/User/UserProfile/Index/"><i class="fa fa-user" aria-hidden="true"></i>Hesabım</a></li>
                        }
                        <li><a href="/Login/LogOut/"><i class="fa fa-close" aria-hidden="true"></i>Çıkış Yap</a></li>
                    }
                    else
                    {
                        <li><a href="/sss"><i class="fa fa-question" aria-hidden="true"></i>SSS</a></li>
                        <li><a href="/Login/Index/"><i class="fa fa-user" aria-hidden="true"></i>Giriş Yap</a></li>
                        <li><a href="/Register/Index/"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kayıt Ol</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li><a href="/Home/Index/" class="hyper "><span>Ana Sayfa</span></a></li>
                        <li><a href="/About/Index/" class="hyper "><span>Hakkımızda</span></a></li>
                        <li><a href="/Product/Index/" class="hyper"> <span>Ürünler</span></a></li>
                        <li><a href="/Contact/Index/" class="hyper"><span>İletişim</span></a></li>
                    </ul>
                </div>
            </nav>
            <div style="flex:1;display:flex;justify-content:flex-end;align-items:flex-start">
                <form class="search-container mr-1" asp-controller="Product" asp-action="Index" method="get">
                    <input type="text" placeholder="Ürün Ara" class="form-control" name="SearchName" id="productSearchName" style="min-width:100px;">
                    <button type="submit" class="search-container-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <div class="cart" data-toggle="modal" data-target="#my-basket-modal">
                    <div style="display: flex; align-items: center;">
                        <span class="fa fa-shopping-cart my-cart-icon"></span>
                        <span id="totalBasketItem" class="badge badge-notify my-cart-badge"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />
<div class="modal fade" id="my-basket-modal" tabindex="-1" role="dialog" aria-labelledby="myBasketModalLabel">
    <div class="modal-dialog" role="document" id="basketModalContentHtml">

    </div>
</div>

<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel">
    <div class="modal-dialog" role="document" id="productDetailModalContainer">

    </div>
</div>
