<div data-vide-bg="/web/video/video">
    <div class="container">
        <div class="banner-info">
            <h3>
                Okyanus Süpermarket, Her Damak Zevkine Uygun Binlerce Ürün ve Özel İndirimlerle Sizleri Karşılamaya Hazır!
            </h3>
            <div class="search-form">
                <form asp-controller="Product" asp-action="Index" method="get">
                    <input type="text" placeholder="Ürün ara..." name="SearchName" id="productSearchName">
                    <input type="submit" value=" ">
                </form>
             
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="~/web/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="~/web/js/jquery.vide.min.js"></script>