@model List<ResultProductVM>

@if (Model != null && Model.Count > 0 )
{
    <!--content-->
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>İndirimli Ürünler</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>

            <div class="con-w3l">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                            <a onclick="openProductDetailModal(@item.ID)" data-toggle="modal" data-target="#productDetailModal" class="offer-img">
                                <img src="@(item.ImageUrl ?? "/web/images/resimhazirlaniyor.png")" class="img-responsive" alt="">
                                <div class="offer"><p><span>İndirimde</span></p></div>
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6>@(item.ProductName.Length > 20 ? item.ProductName.Substring(0, 20) : item.ProductName)</h6> <!-- Ürün ismi ve ağırlığı -->
                                </div>
                                <div class="mid-2">
                                    <p><label>&#8378;@item.Price</label><em class="item_price">&#8378;@item.DiscountedPrice</em></p> <!-- Normal ve indirimli fiyat -->
                                    <div class="clearfix"></div>
                                </div>
                                <div class="add add-2">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" onclick="addBasket('@item.ID')">Sepete Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


}
