<!--content-->
<div class="product">
    <div class="container">
        <div class="spec ">
            <h3>İndirimli Ürünler</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" con-w3l">
            <div class="col-md-3 pro-1">
                <div class="col-m">
                    <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                        <img src="images/of.png" class="img-responsive" alt="">
                        <div class="offer"><p><span>İndirimde</span></p></div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                        <img src="~/web/images/of16.png" class="img-responsive" alt="">
                    </a>
                    <div class="mid-1">
                        <div class="women">
                            <h6><a href="#">Nemlendirici</a>(500 g)</h6>
                        </div>
                        <div class="mid-2">
                            <p><label>&#8378;7.00</label><em class="item_price">&#8378;6.00</em></p>

                            <div class="clearfix"></div>
                        </div>
                        <div class="add add-2">
                            <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/of16.png">Sepete Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        

            
            <div class="clearfix"></div>
        </div>
    </div>
</div>