@page "/sss"
@model OkyanusWebUI.Pages.SSSModel

@{
    ViewData["Title"] = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="faq-w3 main-grid-border">
    <div class="container">

        <div class="spec ">
            <h3>Sık Sorulan Sorular (SSS)</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            @foreach (var item in Model.SSS)
            {
                count++;
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapse_@item.ID">
                            <span>@count.</span> @item.SssTitle
                        </h4>
                    </div>
                    <div id="collapse_@item.ID" class="panel-collapse collapse">
                        <div class="panel-body">
                           @item.SssContent
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

