@model OkyanusWebAPI.Models.MvcModels.HangfireLoginVM
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HangfireLogin</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="kullanıcı adınız" asp-for="UserName" />
        <input type="password" placeholder="şifreniz" asp-for="Password" />
        <button type="submit">Giriş Yap</button>
    </form>
</body>
</html>
