@model CreateProductVM
@using OkyanusWebUI.Models.ProductVM

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">

        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductName"></span>
        <br />

        <label>Ürün Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
        <br />

        <label>Ürün Fiyatı</label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Price"></span>
        <br />

        <label>Ürün İndirimli Fiyat (indirim vermek istediğiniz ürün için girin)</label>
        <input type="number" step="0.01" asp-for="DiscountedPrice" class="form-control" />
        <span class="text-danger" asp-validation-for="DiscountedPrice"></span>
        <br />

        @*<label>Ürün Resmi</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />*@

        <label>Ürün Tipi</label>
        <select asp-for="ProductType" class="form-control">
            @*<option value="">Seçiniz</option>*@
            @foreach (var item in Enum.GetValues(typeof(Birim)))
            {
                <option value="@item">@item</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="ProductType"></span>
        <br />

        <label>Ürün Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />

        <label>Grubu</label>
        <input type="text" asp-for="GroupID" class="form-control" />
        <span class="text-danger" asp-validation-for="GroupID"></span>
        <br />

        <label>Ürün Markası</label>
        <input type="text" asp-for="Marka" class="form-control" />
        <span class="text-danger" asp-validation-for="Marka"></span>
        <br />

        <label>Ürün Ana Barkodu</label>
        <input type="text" asp-for="AnaBarcode" class="form-control" />
        <span class="text-danger" asp-validation-for="AnaBarcode"></span>
        <br />

        <label>Ürün Stock</label>
        <input type="number" min="0" step="1" asp-for="Stock" class="form-control" />
        <span class="text-danger" asp-validation-for="Stock"></span>
        <br />

        <button class="btn btn-primary">Ürün Ekle</button>
    </form>
</div>

