@model UpdateProductVM
@using OkyanusWebUI.Models.ProductVM

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <img src="@(Model.ImageUrl ?? "/web/images/resimhazirlaniyor.png")" style="height:200px;width:100%;object-fit:contain;"/>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />

        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <span class="text-danger" asp-validation-for="ProductName"></span>
        <br />

        <label>Ürün Fiyatı</label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Price"></span>
        <br />

        <label>Ürün İndirimli Fiyat (indirim vermek istediğiniz ürün için girin)</label>
        <input type="number" step="0.01" asp-for="DiscountedPrice" class="form-control" />
        <span class="text-danger" asp-validation-for="DiscountedPrice"></span>
        <br />

        @*<label>Ürün Resmi</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />*@

        <label>Ürün Tipi</label>
        @*<input type="number" asp-for="ProductTypeID" class="form-control" />*@
        <select asp-for="ProductTypeID" class="form-control" asp-items="@ViewBag.ProductTypeSelectListItems"></select>
        <span class="text-danger" asp-validation-for="ProductTypeID"></span>
        <br />

        <label>Ürün Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />

        @*<label>Ana Grup</label>*@
        <input type="hidden" asp-for="ANAGRUP" class="form-control" />
        <span class="text-danger" asp-validation-for="ANAGRUP"></span>
        @*<br />*@

        @*<label>Alt Grup 1</label>*@
        <input type="hidden" asp-for="ALTGRUP1" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP1"></span>
        @*<br />*@

        @*<label>Alt Grup 2</label>*@
        <input type="hidden" asp-for="ALTGRUP2" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP2"></span>
        @*<br />*@

        @*<label>Alt Grup 3</label>*@
        <input type="hidden" asp-for="ALTGRUP3" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP3"></span>
        @*<br />*@

        <label>Ürün Marka ID</label>
        @*<input type="text" asp-for="MarkaID" class="form-control" />*@
        <select asp-for="MarkaID" class="form-control" asp-items="@ViewBag.MarkaSelectListItems"></select>
        <span class="text-danger" asp-validation-for="MarkaID"></span>
        <br />

        <label>Ürün Ana Barkodu</label>
        <input type="text" asp-for="AnaBarcode" class="form-control" />
        <span class="text-danger" asp-validation-for="AnaBarcode"></span>
        <br />

        <label>Ürün Stock</label>
        <input type="number" min="0" step="1" asp-for="Stock" class="form-control" />
        <span class="text-danger" asp-validation-for="Stock"></span>
        <br />

        <button class="btn btn-primary">Ürün Güncelle</button>
    </form>
</div>


