@model UpdateProductVM
@using OkyanusWebUI.Models.ProductVM

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <img src="@(Model.ImageUrl ?? "/web/images/resimhazirlaniyor.png")" style="height:200px;width:100%;object-fit:fill;"/>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />

        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />

        <label>Ürün Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />

        <label>Ürün Fiyatı</label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" />

        <br />

        <label>Ürün İndirimli Fiyat (indirim vermek istediğiniz ürün için girin)</label>
        <input type="number" step="0.01" asp-for="DiscountedPrice" class="form-control" />

        <br />

        @*<label>Ürün Resmi</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />*@

        <label>Ürün Tipi</label>
        <select asp-for="ProductType" class="form-control">
            @*<option value="">Seçiniz</option>*@
            @foreach (var item in Enum.GetValues(typeof(Birim)))
            {
                <option value="@item">@item</option>
            }
        </select>
        <br />

        <label>Ürün Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />

        <button class="btn btn-primary">Ürün Güncelle</button>
    </form>
</div>


