@model RegisterUserVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
            <h3>Kayıt Ol</h3>
            <form method="post">
                <span class="text-danger" asp-validation-for="Name"></span>
                <div class="key">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="text" placeholder="Adınız" asp-for="Name">
                    <div class="clearfix"></div>
                </div>

                <span class="text-danger" asp-validation-for="Surname"></span>
                <div class="key">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="text" placeholder="Soyadınız" asp-for="Surname">
                    <div class="clearfix"></div>
                </div>

                <span class="text-danger" asp-validation-for="UserName"></span>
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Kullanıcı Adınız" asp-for="UserName">
                    <div class="clearfix"></div>
                </div>

                <span class="text-danger" asp-validation-for="Mail"></span>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" placeholder="Mailiniz" asp-for="Mail">
                    <div class="clearfix"></div>
                </div>

                @*<span class="text-danger" asp-validation-for="PhoneNumber"></span>
                <div class="key">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <input type="text" placeholder="telefonun numaranız" asp-for="PhoneNumber">
                    <div class="clearfix"></div>
                </div>*@

                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Şifreniz" asp-for="Password">
                    <div class="clearfix"></div>
                </div>

                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Şifre Tekrar" asp-for="ConfirmPassword">
                    <div class="clearfix"></div>
                </div>
                <br />
                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
                <br />
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>

    </div>
</div>

<script>
    function togglePasswordVisibility(inputField) {
        if (inputField.type === "password") {
            inputField.type = "text";
        } else {
            inputField.type = "password";
        }
    }
</script>
