@model OkyanusWebUI.Areas.Admin.Models.AdminGroupVM.CreateGroupVM
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">

        <label>Kategori Adı</label>
        <input type="text" asp-for="GRUPADI" class="form-control" />
        <span class="text-danger" asp-validation-for="GRUPADI"></span>
        <br />

        <label>Ana Grup Kodu Giriniz</label>
        <input type="text" asp-for="ANAGRUP" class="form-control" />
        <span class="text-danger" asp-validation-for="ANAGRUP"></span>
        <br />

        <label>Alt Grup-1 Kodu Giriniz</label>
        <input type="text" asp-for="ALTGRUP1" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP1"></span>
        <br />

        <label>Alt Grup-2 Kodu Giriniz</label>
        <input type="text" asp-for="ALTGRUP2" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP2"></span>
        <br />

        <label>Alt Grup-3 Kodu Giriniz</label>
        <input type="text" asp-for="ALTGRUP3" class="form-control" />
        <span class="text-danger" asp-validation-for="ALTGRUP3"></span>
        <br />

        <label>Grup Açıklaması isteğe bağlı</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />

        <button class="btn btn-primary">Kategori Ekle</button>
    </form>
</div>

