<!--content-->
<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a href="kitchen.html">
                    <img src="~/web/images/co1.jpg" class="img-responsive img" alt="">
                    <div class="big-sa">
                        @*<h6>New Collections</h6>*@
                        <h3>Bakliyatlar<span></span></h3>
                        <p>Sağlık, Lezzet ve Çeşitlilik Sunan Besinler. Sofralarınızı Zenginleştirin!</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a href="hold.html">
                    <img src="~/web/images/co.jpg" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Ürünler<span></span></h3>
                            <p>Doğadan Gelen, Besleyici ve Çeşitli Ürünler. Sağlıklı ve Lezzet Dolu Alternatifler </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a href="kitchen.html">
                    <img src="~/web/images/co2.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Gıdalar<span></span></h3>
                        <p>Sağlık, Lezzet ve Enerji Kaynağıdır. Deneyin</p>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a href="hold.html">
                    <img src="~/web/images/co3.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Manav<span></span></h3>
                        <p> Taze, Renkli ve Sağlıklı Meyve ve Sebzeleri Keşfedin</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--content-->