@model OkyanusWebUI.Areas.Admin.Models.SliderUIVM.CreateSliderUIVM
@{
    ViewData["Title"] = "AddSlider";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1 class="mb-2">Yeni Slider Ekleme Sayfası</h1>

<form method="post" asp-action="AddSlider" asp-controller="Slider" asp-area="Admin" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="form-control-file" asp-for="file" accept="image/*">
        <span class="text-danger" asp-validation-for="file"></span>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

