@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_SliderPartial")

<!--content-->
<div class="product container">
    <!-- Product -->
    <div class="spec ">
        <h3>Ürünler</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
        <br />
        <br />

      

        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3" style=" border: 1px solid #B2B2B2;" id="dynamicCategoryCompContainer">
                @*@await Component.InvokeAsync("_ProductSidebarPartial", new { categoryID = 7 })*@
            </div>
            <!-- Product List -->
            <div class="col-md-9">
                <div class=" con-w3l agileinf" id="productsContainer" style="margin-top:0px;padding-top:0px">

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<nav class="text-center" id="paginationContainer">
</nav>
<!-- Product Modals -->
<div id="productsModalContainer">
</div>


