
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Şifremi Unuttum</h3>
            <form method="post">
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" placeholder="Mail Adresiniz" name="Email">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Gönder">
            </form>
        </div>
    </div>
</div>

