@model LoginUserVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Giriş Yap</h3>
            <form method="post">
                <span class="text-danger" asp-validation-for="UserNameOrEmail"></span>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" asp-for="UserNameOrEmail" placeholder="Kullanıcı adı yada mailinizi giriniz">
                    <div class="clearfix"></div>
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Şifreniz" asp-for="Password">
                    <div class="clearfix"></div>
                </div>

                <input type="submit" value="Giriş">
            </form>
        </div>
        <div class="forg">
            <a href="/Login/ForgotPassword/" class="forg-left">Şifremi Unuttum</a>
            <a href="/Register/Index/" class="forg-right">Kayıt Ol</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


