@model OkyanusWebUI.Controllers.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Şifre Sıfırlama</h3>
            <form method="post">
                <input type="hidden" asp-for="ResetToken" value="@Model.ResetToken" />
                <input type="hidden" asp-for="Email" value="@Model.Email" />
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Şifre" asp-for="NewPassword" >
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Şifre Tekrar" asp-for="NewPasswordConfirm" >
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Gönder">
            </form>
        </div>
    </div>
</div>

