
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Onaylama Hata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center text-danger">Email Onaylama Hata</h1>
                        <p class="card-text text-center">Email onaylanırken bir hata oluştu. Lütfen daha sonra tekrar deneyin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

