<!DOCTYPE html>
<html>
@await Html.PartialAsync("/Views/_Layout/HeadPartial.cshtml") 
<body>
    @await Html.PartialAsync("/Views/_Layout/NavbarPartial.cshtml")


    @RenderBody()


    @await Html.PartialAsync("/Views/_Layout/FooterPartial.cshtml")
    @await Html.PartialAsync("/Views/_Layout/ScriptPartial.cshtml")
</body>
</html>
