<div class="category-sidebar">
    <h3>Kategoriler</h3>
    <div class="search-container">
        <input type="text" placeholder="Ürün Ara" class="form-control">
        <a href="#">
            <i class="fa fa-search"></i>
        </a>
    </div>
    <ul class="categories-list">
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li>
        <li><a href="#">Category 3</a></li>
        <!-- Add more categories as needed -->
    </ul>
    <div class="checkbox-container">
        <input type="checkbox" id="checkbox1" />
        <label for="checkbox1">Checkbox 1</label>
        <br />
        <input type="checkbox" id="checkbox2" />
        <label for="checkbox2">Checkbox 2</label>
        <!-- Add more checkboxes as needed -->
    </div>
</div>